* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: #347CAA;
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 1em;
}

.post-title {
  font-size: 1.5em;
  color: #347CAA;
  margin-bottom: 0.2em;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.post-description {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  line-height: 1.8em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
.post-category-design {
  background: #5aba59;
}
.post-category-pure {
  background: #4d85d1;
}
.post-category-yui {
  background: #8156a7;
}
.post-category-js {
  background: #df2d4f;
}

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  padding: 1em 0;
}
.footer {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 15% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .footer {
    text-align: center;
  }
}

.header .pure-menu-list {
  margin-top: 1rem;
}

.header .pure-menu-item {
  padding-top: 0rem;
  font-style: italic;
  font-weight: bold;
}

.header .pure-menu-item a {
  margin: 0;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #fff;
}


.header .pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
    background-color: rgb(52 124 170);
}

.header img.full-img{
    border-radius:50%;
    margin-bottom: 1em;
    max-width:150px;
    width: 100%;
}

.header .pure-menu-disabled, .pure-menu-heading, .pure-menu-link {
    padding-right: 0em;
}

/* open-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/open-sans-v18-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/open-sans-v18-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
src: local(''),
        url('fonts/open-sans-v18-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/open-sans-v18-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.header, .content, .post-title {
    font-family: 'Open Sans', Arial, sans-serif;
}

.software a, .publications a, .press a {
  font-weight: bold;
}

.list-bold {
  font-weight: bold;
}

h2.post-title {
  border-bottom: 1px solid silver;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
  color: gray;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.talk-venues p{
  text-transform: uppercase;
  color: gray;
  font-style: italic;
  font-weight: bold;
}
aside.announcement {
  background: #5aba59;
  margin: 1em 0;
  padding: .1em 1em;
  border-radius: 5px;
  color: #333;
}

aside#secondary-announcement {
  background: #5abad9;
}

aside.announcement .bold{
  font-weight: bold;
}

aside.announcement a {
  color: #eee;
  text-decoration: underline;
}
aside.announcement span.megaphone {
  font-size: 1.5em;
}

span.paper-extra-links a {
  font-size: 0.8em;
  font-weight: normal;
}
span.paper-extra-links {
  color: #666;
  font-weight: normal;
}

.thesis-author {
  font-weight: bold;
}
